{% extends 'shared/_layout.html' %}
{% block title %}فراموشی رمز عبور{% endblock %}

{% block content %}
    <section class="container forms">
        <!-- forget Form -->
        <div class="form signup">
            <div class="form-content">
                <header> فراموشی رمز عبور</header>
                <form method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        {{ form.phone.label_tag }}<br>{{ form.phone }}<br>
                    </div>
                    <div class="field button-field">
                        <button type="submit" class="btn btn-primary mt-3">ارسال کد بازنشانی</button>
                    </div>
                </form>
                <p class="mt-2">
                    <a href="{% url 'account_module:login' %}">ورود</a> |
                    <a href="{% url 'account_module:register' %}">ثبت‌نام</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
