{% extends 'shared/_layout.html' %}
{% block title %}فراموشی رمز عبور{% endblock %}

{% block content %}
    <section class="container forms">
        <!-- forget Form -->
        <div class="form signup">
            <div class="form-content">
                <header> فراموشی رمز عبور</header>
                <form method="post" action="{% url 'forget_password_page' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        {{ forget_password_form.email }}
                        {{ forget_password_form.email.errors }}
                    </div>
                    <div class="field button-field">
                        <button>فراموشی رمز عبور</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
