{% extends 'shared/_layout.html' %}
{% block title %}ورود به سایت{% endblock %}

{% block content %}
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>ورود</header>
                <form method="post">
                    {% csrf_token %}
                    {{ form.phone.label_tag }}<br>{{ form.phone }}<br>
                    <div class="field button-field">
                        <button type="submit" class="btn btn-primary mt-3">ارسال کد ورود</button>
                    </div>
                </form>
                <div class="form-link">
                    <p class="mt-2">
                        <a href="{% url 'account_module:register' %}">ثبت‌نام</a> |
                        <a href="{% url 'account_module:forgot_password' %}">فراموشی رمز</a>
                    </p>
                </div>
            </div>

            <div class="line"></div>
            <div class="media-options">
                <a href="#" class="field google">
                    <img src="/static/images/google.png" alt="" class="google-img">
                    <span>ورود با گوگل</span>
                </a>
            </div>

        </div>
    </section>
{% endblock %}