{% extends 'shared/_layout.html' %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
    <section class="container forms">
        <!-- forget Form -->
        <div class="form signup">
            <div class="form-content">
                <header> بازیابی رمز عبور</header>
                <form method="post">
                    {% csrf_token %}
                    {{ form.otp.label_tag }}<br>{{ form.otp }}<br>
                    {{ form.new_password.label_tag }}<br>{{ form.new_password }}<br>
                    {{ form.new_password_confirm.label_tag }}<br>{{ form.new_password_confirm }}<br>
                    <div class="field button-field">
                        <button type="submit" class="btn btn-primary mt-3">ذخیره رمز جدید</button>
                    </div>
                </form>
                <p class="mt-2">
                    <a href="{% url 'account_module:resend_otp' %}">ارسال مجدد کد</a> |
                    <a href="{% url 'account_module:login' %}">ورود</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
