{% extends 'shared/_layout.html' %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
    <section class="container forms">
        <!-- forget Form -->
        <div class="form signup">
            <div class="form-content">
                <header> بازیابی رمز عبور</header>
                <form method="post" action="{% url 'reset_password_page' active_code=user.email_active_code%}">
                    {% csrf_token %}
                    <div class="field input-field">
                        {{ reset_password_form.password }}
                        {{ reset_password_form.password.errors }}
                    </div>
                    <div class="field input-field">
                        {{ reset_password_form.confirm_password }}
                        {{ reset_password_form.confirm_password.errors }}
                    </div>
                    <div class="field button-field">
                        <button>بازیابی رمز عبور</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
