# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Django related
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Local settings
.env
.env.*
# If using local settings.py files
local_settings.py


# VSCode / PyCharm
.vscode/
.idea/
.fleet

# System files
.DS_Store
Thumbs.db

# Migrations (optional)
 **/migrations/*.py
 **/migrations/*.pyc

# Testing
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Dependency managers
Pipfile.lock
poetry.lock
