{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    تغییر رمز عبور
{% endblock %}
{% block content %}
    <section class="container panel">
        <div class="panel-header">
            <header>ویرایش اطلاعات کاربری</header>
        </div>
        <div class="panel-nav">
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="panel-content">
            <div class="welcome-box">
                <form class="user-profile-form" action="{% url 'change_password_page' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-columns">
                        <div class="form-column">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-submit">ذخیره تغییرات</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}