<!-- بخش نمایش نظرات -->
<div id="comments_container">
    <ul class="comment-list list-unstyled">
        {% for comment in comments %}
            <li class="comment mb-4" id="comment-{{ comment.id }}">
                <div class="d-flex">
                    <div class="vcard mr-3">
                        {% if comment.user.avatar %}
                            <img src="{{ comment.user.avatar.url }}" alt="{{ comment.user }}"
                                 class="img-fluid rounded-circle" style="max-width:50px;">
                        {% else %}
                            <img src="/static/images/product-2.jpg" alt="{{ comment.user }}"
                                 class="img-fluid rounded-circle" style="max-width:50px;">
                        {% endif %}
                    </div>
                    <div class="comment-body">
                        <h5 class="mb-1">{{ comment.user }}</h5>
                        <div class="meta text-muted mb-2">{{ comment.created_at|date:"Y-m-d H:i" }}</div>
                        <p>{{ comment.text }}</p>
                        <p>
                            <a href="javascript:void(0);"
                               onclick="fillParentId({{ comment.id }})"
                               class="reply text-primary">پاسخ</a>
                        </p>
                    </div>
                </div>
                <!-- زیرنظرات -->
                {% for sub_comment in comment.articlecomment_set.all %}
                    <div class="ml-5 mt-3 border-left pl-3" id="comment-{{ sub_comment.id }}">
                        <div class="d-flex">
                            <div class="vcard mr-3">
                                {% if sub_comment.user.avatar %}
                                    <img src="{{ sub_comment.user.avatar.url }}"
                                         alt="{{ sub_comment.user }}"
                                         class="img-fluid rounded-circle"
                                         style="max-width:50px;">
                                {% else %}
                                    <img src="/static/images/person_1.jpg"
                                         alt="{{ sub_comment.user }}"
                                         class="img-fluid rounded-circle"
                                         style="max-width:50px;">
                                {% endif %}
                            </div>
                            <div class="comment-body">
                                <h5 class="mb-1">{{ sub_comment.user }}</h5>
                                <div class="meta text-muted mb-2">{{ sub_comment.create_date|date:"Y-m-d H:i" }}</div>
                                <p>{{ sub_comment.text }}</p>
                                <p>
                                    <a href="javascript:void(0);"
                                       onclick="fillParentId({{ comment.id }})"
                                       class="reply text-primary">پاسخ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</div>